body{
    margin: 0;
    padding: 0;
    background-size:cover;
    width: 100% ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.trans{
    width: 400px;
    display: flex;
    justify-content: center;
}
